extends layout

block append head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/jquery.popup.min.js')
  script(type='text/javascript', src='/javascripts/landing.js')

block content
  section
    div#welcome welcome
    input#loginAsGuest(type='checkbox')
    | Login as guest
    form
      input#nickname(type='text', placeholder='Enter a nickname')
      input#passwd(type='password', placeholder='Enter your password')
    div
      a#signUpBtn( href='/register', class="btn") Sign up
    a#startchat(type="button", class="btn") Start Chatting